.icon:nth-child(1){
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter:FlipH;
    -ms-filter: "FliphH";
    /* filter: invert(100%);
    -webkit-filter: invert(100%) */  /* this will invert including the color */
   
}
.icon {
    background-color: #ddd;
    border-radius: 50%;
    display: inline-block;
    width: 12rem;
    height: 12rem;
    margin: 1.25rem;
    background-repeat: no-repeat;
    background-position: center center;
    
}
